<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.dao.types.mapper.TypeMapper" >

    <resultMap id="TypesInfoMap" type="com.boss.dao.types.pojo.TypesInfo" extends="BaseResultMap" >
        <association property="articleCounts" column="TYPE_ID" select="selectArticleCountsByTypeID"/>
    </resultMap>

    <select id="selectTypesByPage" resultMap="TypesInfoMap" parameterType="com.boss.foundation.view.Page">
        SELECT
            tt.TYPE_SID,
            tt.TYPE_ID,
            tt.TYPE_NAME
        FROM
          tb_type tt

        <if test="pagination != null and pagination == true">
            limit #{pageNum}, #{pageSize}
        </if>

    </select>

    <select id="selectTypesCountsByPage" resultType="java.lang.Integer" parameterType="com.boss.foundation.view.Page">
        SELECT
            COUNT(*)
        FROM
          tb_type tt
    </select>

    <select id="selectArticleCountsByTypeID" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
          tb_article_type tat
        WHERE
          tat.TYPE_ID = #{TYPE_ID}
    </select>

    <select id="selectTypeById" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
          <include refid="Base_Column_List" />
        from
          tb_type
        where
          TYPE_ID = #{id}
    </select>

    <delete id="deleteArticleTypeByEntity" parameterType="com.boss.dao.types.pojo.ArticleType">
        DELETE FROM
          tb_article_type
        WHERE
          ARTICLE_ID = #{articleId}
        AND
          TYPE_ID = #{typeId}
    </delete>

    <delete id="deleteTypesByArticleId" parameterType="java.lang.String">
        DELETE
            tb_article_type
        FROM
            tb_article_type
        WHERE
            tb_article_type.ARTICLE_ID = #{id}
    </delete>

    <delete id="deleteTypeBySid" parameterType="java.lang.Integer">
        DELETE
            tb_type,
            tb_article_type
        FROM
            tb_type
        INNER JOIN
            tb_article_type
        ON
            tb_type.TYPE_ID = tb_article_type.TYPE_ID
        WHERE
            tb_type.TYPE_SID = #{id}
    </delete>

</mapper>