<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>欢迎访问</title>
    <meta name="keywords" content="Web技术，Web开发，Web交流，月下竹影，竹影，箫竹影，周禹宏" />
    <meta name="description" content="月下竹影，是一个作为Web技术交流平台的个人原创技术博客。期待大家的光临。" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="/files/base/images/ico.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/files/friends/css/index.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/files/base/js/jquery-2.2.3.min.js"></script>
    <script src="/files/base/js/app.js"></script>
</head>
<body>
<ul class="container">
    <li>
        <span>友链名称</span>
        <input title="名称" id="friendName" type="text"/>
    </li>
    <li>
        <span>友链介绍</span>
        <input title="名称" id="friendTips" type="text"/>
    </li>
    <li>
        <span>友链地址</span>
        <select id="selectWebSite" name="选择网站" title="选择网站">
            <option value="http://">http</option>
            <option value="https://">https</option>
        </select>
        <input title="名称" id="friendValue" type="text"/>
    </li>
    <li>
        <a id="submitButton" href="javascript:" class="submit-button">提交</a>
    </li>
</ul>
</body>
<script src="/files/friends/js/index.js"></script>
</html>