<!DOCTYPE html>
<html>
<head>
    <title>欢迎登陆</title>
    <meta name="keywords" content="Web技术，Web开发，Web交流，月下竹影，竹影，箫竹影，周禹宏" />
    <meta name="description" content="月下竹影，是一个作为Web技术交流平台的个人原创技术博客。期待大家的光临。" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="/files/base/images/ico.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/files/login/css/index.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/files/base/js/jquery-2.2.3.min.js"></script>
</head>
<body>
    <div class="container">
        <ul class="back-img">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
        <div id="login-body" class="login-body">
            <ul class="login-input">
                <li>
                    <input title="登陆" type="text" placeholder="请输入用户名"/>
                </li>
                <li>
                    <input title="登陆" type="password" placeholder="请输入密码" autocomplete="new-password"/>
                </li>
            </ul>
            <div class="login-operator">
                <span id="login-button" class="login-button">
                    登陆
                </span>
            </div>
        </div>
    </div>
    <div id="loading-div" class="loading-div">
        <div class="loading-main">
            <img src="/files/login/images/loading.gif" />
        </div>
    </div>
</body>
<script src="/files/login/js/index.js"></script>
</html>