@import "../../base/css/base.css";
@import "../../base/css/common.css";

.container{
    width: 1200px;
    overflow: hidden;
    margin: 30px auto 0;
}

.title-div{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}

.title-div input{
    width: 80%;
    margin-left: 10%;
    height: 40px;
}

.text-main{
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 30px;
}

.text-image{
    width: 100%;
    float: left;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.button-div{
    width: 100%;
    float: left;
}

.button-div input{
    float: left;
}


.button{
    display: block;
    width: 60px;
    height: 100%;
    background-color: #2e9ad0;
    float: left;
    text-align: center;
}

.button:hover{
    cursor: pointer;
}

.process-bar{
    width: 0;
    height: 10px;
    float: left;
    margin-top: 30px;
    background: red; /* 为较旧的或者不支持的浏览器设置备用属性 */
    background: linear-gradient(top, #2e9ad0, red 8%);
    background: -webkit-gradient(linear, 90% 0, 0 8%, from(#2e9ad0), to(red)); border-top: 1px solid white;
}

.view-div{
    width: 100%;
    float: left;
    margin-top: 30px;
    text-align: center;
}

.view-left{
    width: 50%;
    float: left;
}

.view-right{
    width: 50%;
    float: left;
    text-align: center;
}

.view-div img{
    width: 300px;
    height: 172px;
    max-width: 100%;
}

#preview-image{
    width: 300px;
    height: 172px;
    border: 1px solid #2e9ad0;
    margin: 0 auto;
    overflow: hidden;
}

.description-div{
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.description-div textarea{
    width: 100%;
    height: 200px;
    resize: none;
}

.sub-div{
    width: 100%;
    float: left;
    margin-top: 30px;
    padding: 10px;
    box-sizing: border-box;
}

.sub-div span{
    display: block;
    width: 100px;
    height: 30px;
    border-radius: 2px;
    background-color: #2e9ad0;
    text-align: center;
    line-height: 30px;
}

.sub-div span:hover{
    cursor: pointer;
}