<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boss.dao.types.mapper.ArticleTypeMapper" >
  <resultMap id="BaseResultMap" type="com.boss.dao.types.pojo.ArticleType" >
    <id column="ARTICLE_TYPE_ID" property="articleTypeId" jdbcType="INTEGER" />
    <result column="ARTICLE_ID" property="articleId" jdbcType="VARCHAR" />
    <result column="TYPE_ID" property="typeId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ARTICLE_TYPE_ID, ARTICLE_ID, TYPE_ID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_article_type
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_article_type
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.boss.dao.types.pojo.ArticleType" >
    insert into tb_article_type (ARTICLE_TYPE_ID, ARTICLE_ID, TYPE_ID
      )
    values (#{articleTypeId,jdbcType=INTEGER}, #{articleId,jdbcType=VARCHAR}, #{typeId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.boss.dao.types.pojo.ArticleType" >
    insert into tb_article_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="articleTypeId != null" >
        ARTICLE_TYPE_ID,
      </if>
      <if test="articleId != null" >
        ARTICLE_ID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="articleTypeId != null" >
        #{articleTypeId,jdbcType=INTEGER},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.boss.dao.types.pojo.ArticleType" >
    update tb_article_type
    <set >
      <if test="articleId != null" >
        ARTICLE_ID = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=VARCHAR},
      </if>
    </set>
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.boss.dao.types.pojo.ArticleType" >
    update tb_article_type
    set ARTICLE_ID = #{articleId,jdbcType=VARCHAR},
      TYPE_ID = #{typeId,jdbcType=VARCHAR}
    where ARTICLE_TYPE_ID = #{articleTypeId,jdbcType=INTEGER}
  </update>
</mapper>