<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>欢迎访问</title>
    <meta name="keywords" content="Web技术，Web开发，Web交流，月下竹影，竹影，箫竹影，周禹宏" />
    <meta name="description" content="月下竹影，是一个作为Web技术交流平台的个人原创技术博客。期待大家的光临。" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link href="/files/base/images/ico.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="/files/types/css/list.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/files/base/js/jquery-2.2.3.min.js"></script>
    <script src="/files/base/js/app.js"></script>
    <script src="/files/base/js/page.js"></script>
</head>
<body>


<div class="top">
    <div class="top-container">
        <div class="top-left">
            <a href="/blogs/refresh.html">
                刷新搜索引擎
            </a>
            <a href="/blogs/deleteES.html">
                清空搜索引擎
            </a>
        </div>
        <div class="top-right">
            <!--/*@thymesVar id="userSimpleName" type=""*/-->
            <span>
                欢迎你
                <a href="#" th:text="${userSimpleName}"></a>
            </span>
            <span>
                <a href="/logout.html">登出</a>
            </span>
        </div>
    </div>
</div>

<main class="main-body">
    <div class="left">
        <ul>
            <li>
                <a href="/blogs/list.html">
                    博客管理
                </a>
            </li>
            <li>
                <a href="/series/list.html">
                    专题管理
                </a>
            </li>
            <li>
                <a href="/types/list.html">
                    类别管理
                </a>
            </li>
            <li>
                <a href="/tags/list.html">
                    标签管理
                </a>
            </li>
            <li>
                <a href="/friends/list.html">
                    友链管理
                </a>
            </li>
            <li>
                <a href="#">
                    评论管理
                </a>
            </li>
            <li>
                <a href="/index.html">
                    返回
                </a>
            </li>
        </ul>
    </div>

    <div class="container">
        <section class="container-top">
            <ul class="container-top-ul">
                <li>
                    <a href="/types/index.html" target="new-window">新增类别</a>
                </li>
                <li>

                </li>
                <li>

                </li>
                <li>

                </li>
                <li>

                </li>
            </ul>
        </section>
        <table class="container-table">
            <tr class="table-title">
                <td>主键</td>
                <td>类别名称</td>
                <td>博文数</td>
                <td>操作</td>
            </tr>
        </table>
        <table id="data-table" class="container-table">

        </table>
        <div class="page-container">
            <div id="page-div" class="page-div" data-pages="${totalPages}" data-current="${page}"></div>
        </div>
    </div>
</main>

<footer class="foot-div">
    Copyright © 2015-2016, Adam, All Rights Reserved
</footer>

</body>
<script src="/files/types/js/list.js"></script>
</html>